<!DOCTYPE html>
<html>
<head runat="server">
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css?parameter=1" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/simple-sidebar.css" type="text/css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
        });
    </script>
   
</head>
<body>
   
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul id="sidebar_menu" class="sidebar-nav" style="text-align: left; padding-right: 10px; padding-top: 10px; list-style:none">
                <li class="sidebar-brand">
                    <a id="menu-toggle" href="#">Employee
                        <span id="main_icon" class="navbar-icon fa fa-bars icon">
                        </span>
                    </a>
                </li>
            </ul>
            <ul class="sidebar-nav" style="list-style:none">
                <li><a href="#">Reports</a>
                    <ul class="sidebar-nav" style="list-style:none">
                        <li class="sidebar-brand">Production Efficiency</li>
                        <li><a href="#">Stats</a> </li>
                        <li><a href="#">Stats With Revenue</a> </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                </footer>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
